@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

html{
    height: 100%;
}

body{
    background-color: #050A30;
    height: 100%;
    margin: 0;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
}

.body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 5vw;
}